* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #eaf2f8; /* Very light blue */
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    overflow: hidden;
    height: 80%;
    width: 80%;
    background-color: #ffffff; /* White */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(173, 216, 230, 0.4); /* Soft blue shadow */
}

.ptop {
    padding: 10px;
    height: 100px;
    width: 100%;
    background-color: rgba(173, 216, 230, 0.6); /* Light blue with transparency */
    display: flex;
    justify-content: space-evenly;
}

.elem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box {
    height: 30px;
    width: auto;
    background-color: #ffffff; /* White */
    border-radius: 5px;
    margin-left: 10px;
    align-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    color: #005b96; /* Darker blue */
    padding: 10px 10px;
}

.pbtm {
    height: calc(100% - 100px);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bubble {
    display: flex;
    height: 60px;
    width: 60px;
    background-color: rgba(173, 216, 230, 0.6); /* Light blue with transparency */
    color: #ffffff; /* White text */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3); /* Light blue shadow */
}

.bubble:hover {
    cursor: pointer;
    background-color: #6a9ac6; /* Medium blue */
}

#intro {
    position: absolute;
    top: 20px;
    height: 30px;
    width: 220px;
    padding-left: 20px;
    background-color: #8cc0de; /* Soft blue */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3); /* Light blue shadow */
}

